In [26]:
import pandas as pd

df1 = pd.DataFrame({'a': [1, 2, 3], 'b': [4, 5, 6], 'c': [7, 8, 9]})
df2 = pd.DataFrame({'a': [10, 20, 30], 'b': [40, 50, 60], 'c': [70, 80, 90]})
print (df1 + df2)

    a   b   c
0  11  44  77
1  22  55  88
2  33  66  99

In [21]:
# Just checking another way of creating DataFrame

df1 = pd.DataFrame([[1,2,3],[4,5,6],[7,8,99]], 
                   columns = ['c1', 'c2', 'c3'], 
                   index = ['r1', 'r2', 'r3'])
print (df1)

    c1  c2  c3
r1   1   2   3
r2   4   5   6
r3   7   8  99

In [12]:
# Adding DataFrames with overlapping column names 
df1 = pd.DataFrame({'a': [1, 2, 3], 'b': [4, 5, 6], 'c': [7, 8, 9]})
df2 = pd.DataFrame({'d': [10, 20, 30], 'c': [40, 50, 60], 'b': [70, 80, 90]})
print(df1 + df2)

# See only overlapped column get summation

    a   b   c   d
0 NaN  74  47 NaN
1 NaN  85  58 NaN
2 NaN  96  69 NaN

In [13]:
# Adding DataFrames with overlapping row indexes
df1 = pd.DataFrame({'a': [1, 2, 3], 'b': [4, 5, 6], 'c': [7, 8, 9]},
                       index=['row1', 'row2', 'row3'])
df2 = pd.DataFrame({'a': [10, 20, 30], 'b': [40, 50, 60], 'c': [70, 80, 90]},
                       index=['row4', 'row3', 'row2'])
print(df1 + df2)

         a     b     c
row1   NaN   NaN   NaN
row2  32.0  65.0  98.0
row3  23.0  56.0  89.0
row4   NaN   NaN   NaN

In [25]:
# --- Quiz ---
# Cumulative entries and exits for one station for a few hours.
entries_and_exits = pd.DataFrame({
    'ENTRIESn': [3144312, 3144335, 3144353, 3144424, 3144594,
                 3144808, 3144895, 3144905, 3144941, 3145094],
    'EXITSn': [1088151, 1088159, 1088177, 1088231, 1088275,
               1088317, 1088328, 1088331, 1088420, 1088753]
})

def get_hourly_entries_and_exits(entries_and_exits):
    '''
    Fill in this function to take a DataFrame with cumulative entries
    and exits (entries in the first column, exits in the second) and
    return a DataFrame with hourly entries and exits (entries in the
    first column, exits in the second).
    '''
    after_shift = entries_and_exits.shift(1).fillna(0)
    print (entries_and_exits - after_shift)
    
    return entries_and_exits - after_shift

get_hourly_entries_and_exits(entries_and_exits)

    ENTRIESn     EXITSn
0  3144312.0  1088151.0
1       23.0        8.0
2       18.0       18.0
3       71.0       54.0
4      170.0       44.0
5      214.0       42.0
6       87.0       11.0
7       10.0        3.0
8       36.0       89.0
9      153.0      333.0

    ENTRIESn     EXITSn
0  3144312.0  1088151.0
1       23.0        8.0
2       18.0       18.0
3       71.0       54.0
4      170.0       44.0
5      214.0       42.0
6       87.0       11.0
7       10.0        3.0
8       36.0       89.0
9      153.0      333.0